<html>
<head>
    <title>Hare krishna TiTle.....</title>
</head>
<body>
    <h1>Prep for Prep</h1>
    <p>Live your life</p>

    <form method="post">
        Item<input type="text" name="item"/>
        </br>
        <button type="submit" >Submit</button>
    </form>

</body>
</html>